  <div class="col-md-12">
    <h1>Dashboard</h1>
    
    <%= link_to 'New Post', new_user_post_path(current_user.id), class: "btn btn-primary" %>

    
    <table id="all-posts" class="table">
     <% @posts.each do |post| %>
       <tr class="<%= post.published? ? "published" : "private" %>">
         <td>
           <%= link_to post.title, blogpost_path(post) %></br>
           Written by <%= post.author %> on <%= post.published_on %>
         </td>
         <td>
           <%= link_to "Edit", edit_user_post_path(post.user, post) %></br>
           <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
         </td>
       </tr>
     <% end %>
    </table>
      

  </div>
