

<%= form_for(@tweet) do |f| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% @tweet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :authentication_id, "Account" %>
    <%#= f.number_field :authentication_id %>
    <%= f.collection_select(:authentication_id, current_user.twitter_accounts, :id, :name, {:include_blank => false}, { :class => "form-control"}) %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
    <span class="word-count">
      <em>Characters:</em> <strong><span id="result__all">0</span></strong>
    </span>
  </div>
<!--   <div class="form-group">
    <%= f.label :sent %>
    <%= f.check_box :sent %>
  </div> -->
  <div class="form-group">
    <%= f.label :send_at %>
    <%#= f.date_select :send_at, {:prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }}, {:class => 'date-select'}  %>
    <%#= f.datetime_select :send_at, :ampm => true, :start_minute => 0, :order => [:month, :day, :year] %>
    <% if params[:action] == "edit" %>
      <%#= f.text_field :send_at, id: "datetimepicker", class: "form-control", value: "#{(@tweet.send_at.to_time - 4.hours).to_datetime}"  %>
      <%= f.text_field :send_at, id: "datetimepicker", class: "form-control", value: "#{@tweet.send_at.strftime('%Y-%m-%d %H:%M')}"  %>
    <% else %>
      <%= f.text_field :send_at, id: "datetimepicker", class: "form-control" %>
    <% end %>


  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>

<script type="text/javascript">
$('#datetimepicker').datetimepicker({
    format: 'yyyy-mm-dd hh:ii'
});
</script>