<h1>Scheduled Tweets</h1>

<h2>HWK</h2>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Body</th>
      <th>Sent</th>
      <th>Scheduled</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= link_to "@#{tweet.authentication.name}", "http://twitter.com/#{tweet.authentication.name}", target: "_blank" %></td>
        <td><%= tweet.body %></td>
        <td><%= tweet.sent %></td>
        <td><%= tweet.send_at_english %></td>
        <% if current_user.owns_tweet(tweet) %>
          <td><%= link_to 'Show', tweet %></td>
          <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
          <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>Personal</h2>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Body</th>
      <th>Sent</th>
      <th>Scheduled</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @personal_tweets.each do |tweet| %>
      <tr>
        <td><%= link_to "@#{tweet.authentication.name}", "http://twitter.com/#{tweet.authentication.name}", target: "_blank" %></td>
        <td><%= tweet.body %></td>
        <td><%= tweet.sent %></td>
        <td><%= tweet.send_at_english %></td>
        <% if current_user.owns_tweet(tweet) %>
          <td><%= link_to 'Show', tweet %></td>
          <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
          <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Tweet', new_tweet_path, class: "btn btn-success" %>
<%= link_to 'Add Account', "/auth/twitter", class: "btn btn-primary" %>
