<% title "About Humans With Kids" %>

<% keywords "Charlotte, Parenting, Parents, Kids, Humans, HumansWithKids, HWK, Children, Babies" %>
<% description "Humans With Kids is a company dedicated to helping Fathers (and Mothers) walk the path of being a Human with a Kid." %>


<div class="col-md-6 col-md-offset-3">

  <h1>About Humans With Kids</h1>

  <article id="about-me">
    
    <%#= image_tag(asset_path("about-me.jpg")) %>
    
    <p>At Humans With Kids, we make really cool stuff for parents who want to be a part of their child's story.</p>

    <p>As for us, we are both named Andrew.</p>

    <p>Andrew Weiler claims to be a Pirate, but Andrew Gertig is actually from the Islands.</p>

    <p>We currently each have 2 kids that make this venture both possible and impossible at the same time.</p>

    <p>We both started working with children at a young age. Andrew Weiler turned that love into a fulltime gig creating meaningful experiences for children and families. Andrew Gertig has spent his time honing the skills needed to bring great ideas to life. We are makers at heart. We hope that what we make helps you become a bigger part of your children's stories.</p>

  </article>

  <div class="contact-form">
    <!-- <h4 class="contact-form-heading">Connect With Us</h4> -->
    <br>
    <%= render "follow_button" %>

    <div class="bs-callout bs-callout-info">
      <h4><b>Andrew Weiler</b></h4>
      Co-founder<br/>
      <%= mail_to "weiler@humanswithkids.com" %><br/>
      <%= link_to "@andreweiler", "http://twitter.com/andreweiler", class: "pff-twitter" %>
    </div>
    
    <div class="bs-callout bs-callout-info">
      <h4><b>Andrew Gertig</b></h4>
      Co-founder<br/>
      <%= mail_to "gertig@humanswithkids.com" %><br/>
      <%= link_to "@gertig", "http://twitter.com/gertig", class: "pff-twitter" %>
    </div>
  </div>

  <%= render partial: "contact_us", locals: { post: @post } %>


</div>