<% title "About Humans With Kids" %>

<% keywords "Charlotte, Parenting, Parents, Kids, Humans, HumansWithKids, HWK, Children, Babies" %>
<% description "Humans With Kids is a company dedicated to helping Fathers (and Mothers) walk the path of being a Human with a Kid." %>


<div class="col-md-6 col-md-offset-3">

  <h1>About Humans With Kids</h1>

  <article id="about-me">
    
    <%#= image_tag(asset_path("about-me.jpg")) %>
    
    <p>Becoming a parent is more than just becoming a human with a kid. When you hold that child in your arms for the first time you are amazed at the love and joy you feel because of this tiny, screaming thing. Then you get home and realize you have no idea what you are going to do for the next 18 years. But figuring things out is fun, and figuring out your family should be fun too.</p>

    <p>As for us, we are both named Andrew.</p>

    <p>Andrew Weiler claims to be a Pirate, but Andrew Gertig is actually from the Islands.</p>

    <p>Andrew Gertig can program computers, but Andrew Weiler creates programs for Kids.</p>

    <p>We currently each have 2 kids, but neither one of us has fatherhood figured out.</p>

    <p>We just figure we better enjoy being fathers.</p>

    <p>Our goal is to help parents (Dads especially, because that's who we are) become a part of their child's story of Salvation. There is no higher calling than to see your children create personal relationships with their Lord and Saviour Jesus Christ.</p>

  </article>

  <div class="contact-form">
    <!-- <h4 class="contact-form-heading">Connect With Us</h4> -->
    <br>
    <%= render "follow_button" %>

    <div class="bs-callout bs-callout-info">
      <h4><b>Andrew Weiler</b></h4>
      Co-founder<br/>
      <%= mail_to "weiler@humanswithkids.com" %><br/>
      <%= link_to "@andreweiler", "http://twitter.com/andreweiler", class: "pff-twitter" %>
    </div>
    
    <div class="bs-callout bs-callout-info">
      <h4><b>Andrew Gertig</b></h4>
      Co-founder<br/>
      <%= mail_to "gertig@humanswithkids.com" %><br/>
      <%= link_to "@gertig", "http://twitter.com/gertig", class: "pff-twitter" %>
    </div>
  </div>

  <%= render partial: "contact_us", locals: { post: @post } %>


</div>