<%# MISSION STATEMENT %>
<!-- <div class="row">
  <div class="col-md-12">
    <h1 class="hero-subhead">We make really cool stuff <br/> for parents who want to be a part of <br/> their child's story.</h1>
  </div>
</div> -->

<div class="row vertical-center">
  <div class="col-lg-12">
    <%= render "coming_soon_badge2" %>
    <h2 class="text-center">The Parent's Guide to the iPhone and iPad</h2>
  </div>
</div>


<!-- <div class="row vertical-center">
  <div class="col-lg-6 col-lg-offset-2 col-md-7 col-sm-7">
    <div id="landing-page-bookcover">
      <%= image_tag "Parents Guide Cover - 3D.png", class: "img-responsive", alt: "Parent's Guide to iPhone and iPad" %>
    </div>
    <%#= render "coming_soon_badge2" %>
  </div>
  <div class="col-md-5 col-sm-5">
    <%#= render "coming_soon_badge2" %>
    <div class="amazon-button-container">
      <%= link_to "http://www.amazon.com/gp/product/B017FRGA7C", class: "btn btn-large btn-success amazon-button" do %>
        Buy
      <% end %>
      <%# <button id="pre-order-button" class="btn btn-large btn-success">Buy now $5.99 <span>$9.99</span></button> %>
    </div>
  </div>
</div> -->



<%# PRESCHOOL FARM FUN HOME PAGE %>
<%#= render "pff" %>

<%# SOCIAL %>
<div class="row">
  <footer class="ag-fa home-page-social">
    <%= render "footer" %>
  </footer>
</div>

<%# FEATURED PAGES %>
<div class="row">
  <% @posts.each do |post| %>

    <div class="col-md-6">

      <%= link_to blogpost_path(post), class: "dont-decorate" do %>
        <article class="post-container featured-post">
          <div class="post-feature-image" style="background-image: url('<%= post.image_url_string %>');"></div>

          <h3 class="featured-post-title"><%= post.title %></h3>

          <span class="post-date">Written by <%= post.author %> on <%= post.published_on %></span>

          <div class="post-content">
            <p>
              <% if !post.meta_description.blank? %>
                <%= CGI.unescapeHTML(strip_tags(markdown(post.meta_description).to_html.html_safe).truncate(300, :separator => ' ')) %>
              <% else %>
                <%= CGI.unescapeHTML(strip_tags(markdown(post.content).to_html.html_safe).truncate(300, :separator => ' ')) %>
              <% end %>
            </p>
          </div>

        </article>
      <% end %>

    </div>

  <% end %>
</div>

<div class="row">
  <div class="col-md-12">
    <div id="post-navigation" class="clearfix" >
      <%#= link_to "â† More Posts", archives_path, class: "previous-post" %>
      <%= link_to "More Great Articles", archives_path, class: "read-our-blog", role: "button" %>
    </div>
  </div>
</div>
