<div class="row">
  <div class="col-md-12">
    <h1 class="hero-subhead">Fathers, be a <b>legend</b> in your home.</h1>
  </div>
</div>

<div class="row">

  <% @posts.each do |post| %>
    
    
    <div class="col-md-6">
      
      <%= link_to blogpost_path(post), class: "dont-decorate" do %>
        <article class="post-container featured-post">
          <div class="post-feature-image" style="background-image: url('<%= post.image_url_string %>');"></div>

          <h3 class="post-title"><%= post.title %></h3>

          <span class="post-date">Written by <%= post.author %> on <%= post.published_on %></span>

          <div class="post-content">
            <p>
              <% if !post.meta_description.blank? %>
                <%= sanitize(markdown(post.meta_description).to_html.html_safe, :tags => %w(p table tr td), :attributes => %w(id class style)).truncate(300, :separator => ' ') %>
              <% else %>
                <%= sanitize(markdown(post.content).to_html.html_safe, :tags => %w(), :attributes => %w(id class style)).truncate(300, :separator => ' ') %>
              <% end %>
            </p>
          </div>

        </article>
      <% end %>

    </div>

  <% end %>

  <div id="post-navigation" class="clearfix" >
    <%= link_to "â† More Posts", archives_path, class: "previous-post" %>
  </div>

</div>