<% title "Preschool Farm Fun" %>

<% keywords "Vegetables, Farming, Counting, Numbers, Colors, Identification, Executive Function, Learning, Eduction" %>

<% description "Preschool Farm Fun is a fun iPad app for kids aged 18 months to 5 years old. On the Farm they will learn about many types of vegetables, counting, colors and much much more." %>

<%# CUSTOM STYLES, JAVASCRIPT, FONTS %>
<% content_for :landing_page_head do %>
  <%= stylesheet_link_tag    "landing-page-manifest", :media => "all" %>
  <%= javascript_include_tag "landing-page-manifest" %>

  <link href='http://fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic|Alegreya:400,700|Open+Sans:400italic,400,700|Audiowide|Viga' rel='stylesheet' type='text/css'>

  <link href='http://fonts.googleapis.com/css?family=Kreon:300,400,700' rel='stylesheet' type='text/css'>
<% end %>

<div class="header">
  <%= image_tag "header.png", class: "", alt: "Preschool Farm Fun Header" %>
</div>

<section id="main" class="container shadow">

  <section class="row">
    <h1 class="text-center col-sm-12">Preschool Farm Fun</h1>
    <h2 class="text-center col-sm-12">A chance for your child to play with their food and learn about vegetables!</h2>
  </section>

  <div class="row">
    <div class="col-md-12">
      <%= render "appstore_button" %>
    </div>

  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>
        <div class="video-container">
          <iframe width="420" height="315" src="//www.youtube.com/embed/aAHgSdWA9pI" frameborder="0" allowfullscreen></iframe>
        </div>
      </p>
      <br/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>
        Preschool Farm Fun is an educational game from <%= link_to "Humans With Kids", root_url %> that teaches counting, colors, shape-sorting and object recognition. These are all important learning skills your preschooler needs to develop. We also believe that helping kids to recognize vegetables will encourage them to eat them! So we wrapped these educational skills in delicious, good for you veggies to help your family develop great foundational skills
        for both learning and health.
      </p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="border-b">Would you like to help us Launch?</h2>
      <%= render "mailchimp_pff" %>
    </div>
  </div>

  <section>
    <h2 class="border-b">Meet the Team</h2>
    <div class="row center">
      <div class="col-sm-6 col-lg-3">
        <div id="fc-slideshow" class="fc-slideshow">
          <ul class="fc-slides">
            <li><%= image_tag "agertig.png",  class: "shadow" %></li>
            <li><%= image_tag "agertig2.png", class: "shadow" %></li>
          </ul>
        </div>
        <h4 class="pad-md-t">Andrew Gertig</h4>
        <p>Product Strategist and Developer</p>
        <p><%= link_to "@gertig", "http://twitter.com/gertig", class: "pff-twitter" %></p>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div id="fc-slideshow4" class="fc-slideshow">
          <ul class="fc-slides">
            <li><%= image_tag "mel.png",   class: "shadow" %></li>
            <li><%= image_tag "mel2.png", class: "shadow" %></li>
          </ul>
        </div>
        <h4 class="pad-md-t">Mel Shields</h4>
        <p>Illustrator and Content Strategist</p>
        <p><%= link_to "@shieldsma91", "http://twitter.com/shieldsma91", class: "pff-twitter" %></p>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div id="fc-slideshow2" class="fc-slideshow">
          <ul class="fc-slides">
            <li><%= image_tag "aweiler.png",  class: "shadow" %></li>
            <li><%= image_tag "aweiler2.png",  class: "shadow" %></li>
          </ul>
        </div>
        <h4 class="pad-md-t">Andrew Weiler</h4>
        <p>Marketing and Content Strategist</p>
        <p><%= link_to "@andreweiler", "http://twitter.com/andreweiler", class: "pff-twitter" %></p>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div id="fc-slideshow3" class="fc-slideshow">
          <ul class="fc-slides">
            <li><%= image_tag "elle.png",  class: "shadow" %></li>
            <li><%= image_tag "elle2.png",  class: "shadow" %></li>
          </ul>
        </div>
        <h4 class="pad-md-t">Elle Weiler</h4>
        <p>Voice Over</p>
        <p>[Not old enough to Tweet]
      </div>
    </div>
  </section>

  <section class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="border-b">How We Got Here</h2>
      <p>We watched a TEDtalk by chef Jamie Oliver, who inspired us to get creative and do what we can to help families develop healthier habits. One of the moments that struck us was when elementary kids in West Virginia could not recognize many basic veggies, like broccoli, cucumbers, and sweet potatoes. We thought, “Why not get involved?” We are all TED junkies, and what is a TED wish for, if not to inspire some action? So we started dreaming about veggies, farmers and gardens, we even had a robot for a while. Since, there are 4 kids under 5 spread across our homes, we decided to create something that we would like to have for our kids.</p>
    </div>
  </section>

  <section class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="border-b">What we believe about technology and kids</h2>
      <p>There is no substitute for being fully present in and understanding the physical world. Preschool age minds need to understand time, space, reactions, facial expressions, and so much more. They need the security of your emotional presence to learn. Technology should not remove kids from interactions with others. Instead, it should create better connections. It is our hope that by allowing your child to play our game, we can partner with you by helping inspire stories of your garden, cooking, or grocery store exploits. Our hope is that Preschool Farm Fun can be a gateway of exploration into good, healthy food for your whole family.</p>
    </div>
  </section>

  <section class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="border-b">What we believe about Parenting</h2>
      <p>One of the foundational beliefs of <%= link_to "Humans With Kids", root_url %> is that parents should seek to become a legend in their homes. The truth is, you will never have more influence on anyone more than you do with your children. We are constantly creating and curating ways to help you cultivate that influence. Great health is something any parent desires for their children. While we can’t change our genes, we can influence our habits. So, we created Preschool Farm Fun. We want to make veggies fun. So use it that way. Play with your kids, then take them with you to the grocery store with you. Instead of dreading the candy aisle, start looking forward to the produce aisle. Ask your kids to pick out their favorite veggies. Count them, name them, and then use them to create a foundation for eating right.</p>
    </div>
  </section>


<!--   <section>
    <h2 class="border-b">Shop</h2>

    <div class="row">
      <div class="col-sm-6">
        <h3>Preschool Farm Fun</h3>
        <p>paragraph text: Here's a paragraph of text to help style the content that'll be inputed into this site. The content will describe Preschool Farm Fun and the cool peeps involved in the project.</p>
      </div>
      <div class="col-sm-6">
        <h3>T-Shirts</h3>
        <p>paragraph text: Here's a paragraph of text to help style the content that'll be inputed into this site. The content will describe Preschool Farm Fun and the cool peeps involved in the project.</p>
      </div>
    </div>
  </section> -->

  <section class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="border-b">Contact Us</h2>
      <p>
        Preschool Farm Fun is a joint effort between <%= link_to "Humans With Kids", "/about" %> and <%= link_to "Mel Shields", "http://twitter.com/shieldsma91" %>.
      </p>
      <!-- <p>If you are interested in learning more about .</p> -->
    </div>
  </section>

<!--   <section>
    <h2 class="border-b">Contact Us</h2>
    <p>
    </p>
  </section> -->

</section>
