<div class="author-card">
  
  <h4 class="author-card-heading">Written by</h4>

  <div class="author-card-image">
    <%= image_tag user.avatar.small, class: "img-circle" if user.avatar_url %>
  </div>

  <div class="author-card-text">
    <h3 class="author-card-name"><%= user.name %></h3>
    <%#= user.catchphrase %>

    <p class="author-card-bio"><%= user.bio %></p>

    <p>
        <ul class="icons">
          <% if !user.twitter_handle.blank? %>
            <li>
              <%= link_to "http://twitter.com/#{user.twitter_handle}", class: "fa fa-twitter solo", target: "_blank" do %>
                <span>Twitter</span>
              <% end %>
            </li>
          <% end %>

          <% if !user.google_plus.blank? %>
            <li>
              <%= link_to "#{user.google_plus}?rel=author", class: "fa fa-google-plus solo", target: "_blank" do %>
                <span>Google+</span>
              <% end %>
            </li>
          <% end %>

          <% if !user.website.blank? %>
            <li>
              <%= link_to user.website, class: "fa fa-link solo", target: "_blank" do %>
                <span>GitHub</span>
              <% end %>
            </li>
          <% end %>
        </ul>
    </p>

  </div>

</div>