<!-- <ul id="word-count" class="result">
  <li><strong>Paragraphs: </strong><span id="result__paragraphs">0</span></li>
  <li><strong>Words: </strong><span id="result__words">0</span></li>
  <li><strong>Characters: </strong><span id="result__characters">0</span></li>
  <li><strong>Characters (with spaces): </strong><span id="result__all">0</span></li>
</ul> -->

<p><em>Words:</em> <strong><span id="result__words">0</span></strong>,   <em>Paragraphs:</em> <strong><span id="result__paragraphs">0</span></strong></p>

<%= form_for([@post.user, @post], :html => { class: "ag-post-form" }) do |f| %>

  <div class="post-edit-right-sidebar">
    <%= f.submit class: "btn" %>
  </div>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%#= f.label :title %>
    <div class="form-group">
      <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
      <%#= f.label :content %>
      <%#= f.text_area :content, class: "input-block-level ag-post-editing-field", placeholder: "Body" %>
      <%= f.text_area :content, class: "form-control ag-post-editing-field", placeholder: "Body" %>
    </div>

    
    <h4>Social and SEO</h4>
    <div class="form-group">
      <%= f.text_field :image_url_string, class: "form-control", placeholder: "URL of Image to be displayed on FB, Twitter etc." %>
    
      <%= f.text_area :meta_description, rows: "4", class: "form-control", placeholder: "Meta Description for search results, FB, and Twitter Cards. 150 Characters." %>
    </div>

    <h4>Publishing options</h4>
    <%= f.label :published, class: "checkbox" do %>
      <%= f.check_box :published %> Published
    <% end %>
    
    <%= f.label :protect_slug, class: "checkbox" do %>
      <%= f.check_box :protect_slug %> Protect url slug from updates
    <% end %>

    <%= f.label :url_contains_date, class: "checkbox" do %>
      <%= f.check_box :url_contains_date %> Show published date in the url
    <% end %>
    
  
  <div class="form-actions">
    <%= f.submit class: "btn" %>
  </div>
  
  <p><b>Tip:</b> when changing the published_at date so the url is correct for old Posts, change it from heroku console.</p>
  <p><em>Post.find(<%= @post.id %>).update_attribute(:published_at, '2011-05-15 00:00:00')</em></p>
<% end %>

