<h1><%= @post.title %></h1>
<p><em><%= @post.published_on %></em></p>
<p><em><%= @post.published? ? blogpost_path(@post) : "ID: #{@post.id}" %></em></p>

<%= render 'form' %>

<%= link_to 'Show', [@post.user, @post] %> |
<%= link_to 'Back', user_posts_path(@post.user) %>
