
<div class="col-md-6 col-md-offset-3">
  <section class="post-edit-container">
    <div class="post-edit-left-sidebar">
      
      <h4>Post Details</h4>
      
      <p><em><%= @post.published_on %></em></p>
      <p><em><%= @post.published? ? blogpost_path(@post) : "ID: #{@post.id}" %></em></p>
    
    </div>

    <h2><%= @post.title %></h2>

    <%= render 'form' %>

    <%= link_to 'Show', [@post.user, @post] %> |
    <%= link_to 'Back', user_posts_path(@post.user) %>
  </section>
</div>