<h1>Editing</h1>
<h4><%= @post.title %></h4>
<h5><%= @post.id %></h5>
<h5><%= @post.published_on %></h5>
<h5><%= blogpost_path(@post) %></h5>

<%= render 'form' %>

<%= link_to 'Show', [@post.user, @post] %> |
<%= link_to 'Back', user_posts_path(@post.user) %>
