
<div class="col-md-8 col-md-offset-2">

  <section id="archives">
    <div class="row">
    <% @posts.each do |post| %>

    <div class="panel panel-default">
      <div class="panel-body">

        <div class="media">
          <%= link_to blogpost_path(post), class: "pull-right hidden-xs" do %>
            <%= image_tag post.image_url_string, class: "media-object archives-post-image", width: 180, alt: post.title unless post.image_url_string.empty? %>

          <% end %>

          <div class="media-body">
            <h2 class="media-heading archives-post-title"><%= link_to post.title, blogpost_path(post) %></h2>
            <span class="archives-post-date">
              Written by <%= post.author %> on <%= post.published_on %>
            </span>

            <p>
            <div class="archives-post-content">
              <p>
                <% if !post.meta_description.blank? %>
                  <%#= CGI.unescapeHTML(sanitize(markdown(post.meta_description).to_html.html_safe, :tags => %w(p table tr td), :attributes => %w(id class style)).truncate(200, :separator => ' ')) %>
                  <%= CGI.unescapeHTML(strip_tags(markdown(post.meta_description).to_html.html_safe).truncate(200, :separator => ' ')) %>
                <% else %>
                  <%= CGI.unescapeHTML(strip_tags(markdown(post.content).to_html.html_safe).truncate(200, :separator => ' ')) %>
                <% end %>
              </p>
            </div>
          </div>

        </div>

      </div>
    </div>

    <% end %>
    </div>

  </section>

</div>
