
<div class="col-md-8 col-md-offset-2">

  <section id="archives">
    <div class="row">
    <% @posts.each do |post| %>



        <div class="media">
          <%= link_to blogpost_path(post), class: "pull-left" do %>
            <%= image_tag post.image_url_string, class: "media-object archives-post-image", width: 200, alt: "Post image" %>

          <% end %>

          <div class="media-body">
            <h2 class="media-heading archives-post-title"><%= link_to post.title, blogpost_path(post) %></h2>
            <span class="archives-post-date">
              Written by <%= post.author %> on <%= post.published_on %>
            </span>
          </div>

        </div>


    <% end %>
    </div>

  </section>

</div>