<% title @post.title %>
<%# keywords %>
<% description @post.meta_description %>

<%# Facebook Opengraph %>
<%
 opengraph do |graph|
   graph.title "#{@post.title}"
   graph.type 'website'
   graph.url "#{request.url}"
   graph.description @post.meta_description
   # graph.image "#{@post.header_image_url}"
   graph.image "http://f.cl.ly/items/34372102363p16220m2r/Gertig-Solo-04-Original.jpg"
 end
%>

<section id="post-<%= @post.id %>">
  <article class="post-container">
      <h2>
          <%= @post.title %>
      </h2>
      <span class="post-date"><%= @post.published_on %></span>
      
      <%= link_to "Edit", edit_user_post_path(current_user, @post) if is_andrew? %>
      
      <span class="twitter-button">
        <%= render "twitter_button" %>
      </span>
      
      <div class="facebook-button">
        <div class="fb-like" data-href="<%= request.url %>" data-send="false" data-layout="button_count" data-show-faces="false"></div>
      </div>

      <% if @post.content %>
        <%= markdown(@post.content).to_html.html_safe %>
      <% end %>

  </article>
        
</section>

<div id="post-navigation"  class="clearfix" >
  <%= link_to "← Previous Post", blogpost_path(@post.previous), class: "previous-post" if @post.previous %>
  <%= link_to "Next Post →",  blogpost_path(@post.next), class: "next-post" if @post.next %>
</div>

<%= render "disqus" if Rails.env.production? %>