<% title @post.title %>

<section id="post-<%= @post.id %>">
  <div class="post-container">
      <h1>
          <%= @post.title %>
      </h1>
      <span class="post-date"><%= @post.published_on %></span>

      <% if @post.content %>
        <%= markdown(@post.content).to_html.html_safe %>
      <% end %>

  </div>
</section>

<div id="post-navigation">
  <%= link_to "← Previous Post", blogpost_path(@post.previous), class: "previous-post" if @post.previous %>
  <%= link_to "Next Post →",  blogpost_path(@post.next), class: "next-post" if @post.next %>
</div>