<div class="row">
  <div class="col-md-12">
    <h2><%= @gallery.name %> Images</h2>

    <input type="hidden" id="galleryID" value="<%= @gallery.id %>">

    <p>
      <b>Description: </b>
      <%= @gallery.description %>
    </p>

    <hr>
  </div>
</div>

<%= form_for [@gallery, @picture], :html => { :multipart => true, :id => "fileupload"  } do |f| %>

  <div class="row">
    <div class="col-md-12">
      <div class="fileupload-buttonbar">
        <div class="progressbar fileupload-progressbar nofade"><div style="width:0%;"></div></div>

        <span class="btn btn-primary fileinput-button">
          <i class="glyphicon glyphicon-plus"></i>
          <span><%= t('photos.add_files') %>...</span>
          <%= f.file_field :image, :multiple => true %>
        </span>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-12">
      <div class="files">
        <%# Where the jQuery File Uploader puts files %>
      </div>

      <div class="thumbnails">

        <% unless @pictures.empty? %>
          <% @pictures.each do |pic| %>
              <div class="col-md-4 hwk-thumbnail-wrapper">
              <!-- <li class="thumbnail" id="picture_<%= pic.id %>"> -->
                <div class="hwk-thumbnail" id="picture_<%= pic.id %>">
                  <div class="hwk-thumbnail-crop  <%= " #{pic.image_type}" %>">
                    <img class="hwk-thumbnail-img" src="<%= pic.image.preview.url %>" alt="">
                  </div>

                  <div class="hwk-caption">

                    <div class="image-url form-group">
                      <%= text_field_tag("image-url", pic.image.preview.url, class: "input-medium form-control", onclick: "this.focus(); this.select();") %>
                    </div>

                    <div class="image-url form-group">
                      <label><b>Large (for Hero images)</b></label>
                      <%= text_field_tag("image-url", pic.image.large.url, class: "input-medium form-control", onclick: "this.focus(); this.select();") %>

                      <%= link_to gallery_picture_path(@gallery, pic), class: "btn btn-danger btn-sm pull-right", data: { confirm: "Delete me? Nooo!", method: "delete", remote: true } do %>
                        <i class="glyphicon glyphicon-trash"></i>
                      <% end %>

                      <a class="btn btn-success btn-sm pull-left" href="<%= pic.image.url %>" rel="lightbox-pictures" title="<%= pic.description %>">
                        <i class="glyphicon glyphicon-eye-open"></i>
                      </a>

                      <%= link_to edit_gallery_picture_path(@gallery, pic), class: "btn btn-info btn-sm"  do %>
                        <i class="glyphicon glyphicon-pencil"></i>
                      <% end %>
                    </div>


                  </div>


                </div>
              </div> <!-- col-md- -->
          <% end %>
        <% end %>

      </div> <!-- .thumbnails .files -->
    </div> <!-- col-md-12 -->
  </div>
<% end %>


<div class="row">
  <div class="col-md-12">
    <div class="form-actions">
      <small>There is no need to ever really mess with this.</small>
      <%#= link_to 'Back', galleries_path, :class => 'btn btn-warning'  %>
      <%= link_to 'Edit Gallery', edit_gallery_path(@gallery), :class => 'btn btn-warning' %>
      <%= link_to 'Delete This Gallery', gallery_path(@gallery), :method => 'delete', :data => { confirm: 'Are you sure? The WHOLE Gallery?'}, :class => 'btn btn-danger' %>
    </div>
  </div>
</div>

<script charset="utf-8">
  //DOM is Ready
  $(function(){
    // Iterate over all images, detect which ones are portrait and add a .portrait class so that it looks good
    // $(".hwk-thumbnail-img").each(function(index, element) {
    //   if (element.width < element.height) {
    //     //It's a portrait Image
    //     $(this).addClass("portrait");
    //   }
    // });

    $(".hwk-caption").hide();

    // Detect Hover and hide and show the links
    // $( selector ).mouseenter( handlerIn ).mouseleave( handlerOut );
    $(".hwk-thumbnail-crop").mouseenter(function() {
      // console.log("Entering!!!");
      $(this).siblings(".hwk-caption").show();
    });

    $(".hwk-caption").mouseleave(function() {
      // console.log("Leaving!!!");
      $(this).hide();
    });
  });
</script>
