<div class="row">
  <h2><%= @gallery.name %> Images</h2>

  <input type="hidden" id="galleryID" value="<%= @gallery.id %>">

  <p>
    <b>Description: </b>
    <%= @gallery.description %>
  </p>

<hr>

</div>

<%= form_for [@gallery, @picture], :html => { :multipart => true, :id => "fileupload"  } do |f| %>

  <div class="row">
    <div class="fileupload-buttonbar">
      <div class="progressbar fileupload-progressbar nofade"><div style="width:0%;"></div></div>

      <span class="btn btn-primary fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span><%= t('photos.add_files') %>...</span>
        <%= f.file_field :image, :multiple => true %>
      </span>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="thumbnails files">

      <% unless @pictures.empty? %>
        <% @pictures.each do |pic| %>
            <div class="col-md-4">
            <!-- <li class="thumbnail" id="picture_<%= pic.id %>"> -->
              <div class="thumbnail" id="picture_<%= pic.id %>">
                <a href="<%= pic.image.url %>" rel="lightbox-pictures" title="<%= pic.description %>">
                  <img src="<%= pic.image.preview.url %>" alt="">
                </a>
                <div class="caption">
                  <div id="" class="image-url">
                    <b>Large</b>
                    <br>
                    <%= text_field_tag("image-url", pic.image.large.url, class: "input-medium", onclick: "this.focus(); this.select();") %>
                    <br>
                    <b>Preview (690x518)</b>
                    <br>
                    <%= text_field_tag("image-url", pic.image.preview.url, class: "input-medium", onclick: "this.focus(); this.select();") %>
                  </div>

                  <p style="text-align: center;">
                    <a href="/galleries/<%= @gallery.id %>/pictures/<%= pic.id %>/edit" class="btn btn-warning btn-sm">
                      <i class="glyphicon glyphicon-edit"></i>
                      Edit
                    </a>
                    <a class="btn btn-danger btn-sm" data-confirm="Delete this guy?" data-method="delete" href="/galleries/<%= @gallery.id %>/pictures/<%= pic.id %>" data-remote=true>
                      <i class="glyphicon glyphicon-trash"></i>
                      Delete
                    </a>
                  </p>

                </div>

              </div>
            </div> <!-- col-md- -->
        <% end %>
      <% end %>

    </div> <!-- .thumbnails .files -->
  </div>
<% end %>

<hr/>

<div class="row">
  <div class="form-actions">
    <%#= link_to 'Back', galleries_path, :class => 'btn btn-warning'  %>
    <%= link_to 'Edit', edit_gallery_path(@gallery), :class => 'btn btn-warning' %>
    <%= link_to 'Delete', gallery_path(@gallery), :method => 'delete', :data => { confirm: 'Are you sure?'}, :class => 'btn btn-danger' %>
  </div>
</div>
