<ul class="icons">
  <%# UTILIZES FONT AWESOME GEM %>
  <li>
    <%= link_to "http://twitter.com/HumansWithKids", class: "fa fa-twitter solo", target: "_blank" do %>
      <span>Twitter</span>
    <% end %>
  </li>


  <li>
    <%= link_to "http://youtube.com/user/HumansWithKids", class: "fa fa-youtube solo", target: "_blank" do %>
      <span>Facebook</span>
    <% end %>
  </li>

  <li>
    <%= link_to "http://youtube.com/user/HumansWithKids", class: "fa fa-facebook solo", target: "_blank" do %>
      <span>Facebook</span>
    <% end %>
  </li>

<!--   <li>
    <%= link_to "https://plus.google.com/111594140093002939124?rel=author", class: "fa fa-google-plus solo", target: "_blank" do %>
      <span>Google+</span>
    <% end %>
  </li> -->

  <li>
    <%= link_to "https://github.com/gertig/humanswithkids.com", class: "fa fa-github solo", target: "_blank" do %>
      <span>GitHub</span>
    <% end %>
  </li>
</ul>