<h3><%= product.name %> (<%= product.features %>)</h3>
<p><%= params[:stripeEmail] %></p>
<p><%= params[:stripeShippingName] %></p>
<p><%= params[:stripeShippingAddressLine1] %></p>

<p><%= params[:stripeShippingAddressCity] %>, <%= params[:stripeShippingAddressState] %> <%= params[:stripeShippingAddressZip] %></p>

<p><%= params[:stripeShippingAddressCountry] %></p>
