<h1 id="products-listing-header">Shop</h1>

<!-- <table class="table">
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product %></td>
        <td><%= product.features %></td>
        <td><%= number_to_currency (product.price_in_cents/100) %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<%#
<div class="row hidden">
  <div class="col-md-4 col-md-offset-2-APG">
    <div class="product-category category-image" style="background-image: url('https://humanswithkids-assets.s3.amazonaws.com/uploads/picture/image/5/preview_ST-4_-_Blue_-_Large_1024.jpg');">

    </div>
    <div class="product-category">
      <span>Balance Bikes</span>
    </div>
  </div>
</div>
%>

<div class="row products-listing">

  <% @products.in_groups_of(3) do |products| %>

    <div class="row">

      <% products.each do |product| %>
        <% if product %>
          <div class="col-md-4 product-listing">
            <%= link_to product, class: "product-link" do %>
              <div class="product-feature-image" style="background-image: url('<%= product.image_url_string %>');"></div>
              <%#= image_tag product.image_url_string, class: "img-responsive" %>
              <div class="caption">
                <h4><%= product.name %> - <%= product.features %> <strong class="pull-right"><%= number_to_currency (product.price_in_cents/100.0) %></strong></h4>
              </div>
            <% end %>
          </div>
        <% end %>

      <% end %>

    </div>

  <% end %>

</div>
