<div class="row product-wrapper">
  <div class="col-md-6">

    <%= image_tag @product.image_url_string, class: "img-responsive product-feature-image" %>

  </div>

  <div class="col-md-6">

    <h2><%= @product.name %> <small><%= @product.features %></small></h2>

    <p><strong><%= number_to_currency (@product.price_in_cents/100.0) %></strong></p>

    <%# STRIPE BUTTON AND FORM %>

    <%= form_tag charges_path do %>
      <%= hidden_field(:product, :id, :value => @product.id) %>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-image="https://humanswithkids-assets.s3.amazonaws.com/uploads/picture/image/6/square_HumansWithKids.png"
              data-name="Humans With Kids"
              <%# data-panel-label="Pay {{amount}}" %>
              data-label="Purchase"
              data-description="<%= "#{@product.name} - #{@product.features}" %>"
              data-shipping-address=true
              data-amount="<%= @product.price_in_cents %>">
      </script>
    <% end %>

    <p>
      <%= markdown(@product.description).to_html.html_safe %>
    </p>

    <p><span class="label label-success">FREE SHIPPING (USA only)</span></p>


    <% if is_andrew? %>
      <p>
      <div class="btn-group">
        <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-default" %>
        <%= link_to 'All Products', products_path, class: "btn btn-default" %>
      </div>
      </p>
    <% end %>


  </div>

</div>
