<%= form_for(@grump) do |f| %>
  <% if @grump.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grump.errors.count, "error") %> prohibited this grump from being saved:</h2>

      <ul>
      <% @grump.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :published_at %><br>
    <%= f.date_select :published_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
