<h1>Listing grumps</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Published at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @grumps.each do |grump| %>
      <tr>
        <td><%= grump.name %></td>
        <td><%= grump.published_at %></td>
        <td><%= link_to 'Show', grump %></td>
        <td><%= link_to 'Edit', edit_grump_path(grump) %></td>
        <td><%= link_to 'Destroy', grump, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grump', new_grump_path %>
