<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @grump.name %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @grump.published_at %>
</p>

<%= link_to 'Edit', edit_grump_path(@grump) %> |
<%= link_to 'Back', grumps_path %>
