<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <meta name="msvalidate.01" content="F944F9D72689C043BC830D8D73AD8940" />
    
  <%= title :site => "Andrew Gertig", :separator => '|', :reverse => true %>
  <%= keywords :default => "ruby on rails, sales, design, medical devices, running, arduino" %>
  <%= description :default => "My claim to fame is that I graduated from high school twice. This is my personal blog/lab for trying new things." %>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  
  <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  
  <%= render "analytics" %>
  
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
</head>
<body>
  
  <%= link_to admin_path do %>
    <div id="admin-link">
      <%= image_tag(asset_path("364-4up@2x.png")) if user_signed_in? %>
    </div>
  <% end %>

  <div class="container">
    <%= link_to root_url, id: "blog-title"  do %>
      <h1 id="blog2-title">Andrew Gertig</h1>
    <% end %>
    
    <%= yield %>
    
    <div id="social-buttons" class="social">
      <%= link_to "http://twitter.com/gertig" do %>
        <%= image_tag(asset_path("twitter42.png")) %>
      <% end %>
      
      <%= link_to "http://youtube.com/user/AndrewGertig" do %>
        <%= image_tag(asset_path("youtube42.png")) %>
      <% end %>
      
      <%= link_to "https://plus.google.com/111594140093002939124?rel=author" do %>
        <%= image_tag(asset_path("google-plus42.png")) %>
      <% end %>

    </div>
  </div> <!-- /container -->

  <!-- Javascripts
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <%= javascript_include_tag "application" %>

</body>
</html>
