<!DOCTYPE html>
<%= opengraph_html('html5') %>
<!-- <html lang="en"> -->
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# object: http://ogp.me/ns/object#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <meta name="msvalidate.01" content="F944F9D72689C043BC830D8D73AD8940" />
    
  <%= title :site => "Humans With Kids", :separator => '-', :reverse => true %>
  <%= keywords :default => "ruby on rails, sales, design, medical devices, running, arduino" %>
  <%= description :default => "My claim to fame is that I graduated from high school twice. This is my personal blog and lab for trying new things." %>
  
  <%# OPEN GRAPH %>
  <%= opengraph(:app_id => "#{FACEBOOK_APP_ID}") %>
  <meta property="fb:admins" content="511212544" />
  
  <%# TWITTER CARD %>
  <%= twitter_card %>
  
  <%# RSS FEED AUTODISCOVERY - this matches Wordpress's RSS feed url structure %>
  <%= auto_discovery_link_tag :atom, "/feed/rss" %>
  <%= auto_discovery_link_tag :rss, "/feed/rss.rss" %>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  
  <!-- // <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script> -->
  
  <!-- Javascripts
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <%= javascript_include_tag "application" %>
  
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.3/jquery.backstretch.min.js"></script>
  
  <link href='http://fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic|Alegreya:400,700|Open+Sans|Audiowide|Viga' rel='stylesheet' type='text/css'>

  <!-- 
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Open Sans Condensed', sans-serif;
  -->
  
  <%= render "analytics" %>
  
  <%#= cloudinary_js_config %>
  
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
</head>
<body>
  
  <%= render "facebook" %>

  <%= render "flash_messages" %>

<!--   <div class="container">
    <%= link_to root_url do %>
    <%= image_tag "HumansWithKids.png", class: "logo", width: 300, style: "width: 300px; margin: 20px auto 20px; display: block;" %>
    <% end %>
  </div> -->

  <header>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
      
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_url, class: "navbar-brand" do %>
            Humans With Kids Logo
          <% end %>

          <!-- <a class="navbar-brand" href="#">Humans With Kids</a> -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to "Home", root_url %></li>
            <li><%= link_to "Blog", archives_path %></li>
            <li><%= link_to "Shop", "#" %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact Us", "#", id: "email-me", title: "hello@humanswithkids.com", data: { placement: "bottom", toggle: "tooltip" } %></li>
<!--             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> -->
          </ul>

        <% if is_andrew? %>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "New Post", new_user_post_path(current_user) %></li>
                <li><%= link_to "Dashboard", admin_path %></li>
                <li><%= link_to "Media", galleries_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Logout", destroy_user_session_path %></li>
              </ul>
            </li>
          </ul>
        <% end %>

        </div><!-- /.navbar-collapse -->

      </div>
    </nav>
  </header>

  <%# HERO IMAGE %>
  <!-- <div class="row"> -->
  <% if params[:controller] == "home" %>
    <div class="hero-image-wrapper hidden-apg-xs">
        <!-- <div class="actual-image" style="background-image: url('https://humanswithkids-assets.s3.amazonaws.com/uploads/picture/image/5/large_kathryn19.jpg');"></div> -->
        <div id="hero-image" class="actual-image" style="background-image: url('https://humanswithkids-assets.s3.amazonaws.com/uploads/picture/image/7/large_IMG_4324.JPG');">

<!--           <div id="blurred-logo-wrapper" class="">
            <h1 class="hwk-logo">Humans With Kids</h1>
          </div> -->

          

        </div>
        <!-- <div class="actual-image" style="background-image: url('http://humanswithkids.siftedwheat.com/wp-content/uploads/sites/3/HWK-HEader21.png');"></div> -->
        

    </div>
  <% end %>
  <!-- </div> -->

  <div class="main-container">
    
    <div class="row">
      <%= yield %>
    </div>

    
    <div class="row">
      <footer>
        <ul class="icons">
          <li>
            <%= link_to "http://twitter.com/HumansWithKids", class: "fa fa-twitter solo", target: "_blank" do %>
              <span>Twitter</span>
            <% end %>
          </li>
          <li>
            <%= link_to "http://youtube.com/user/HumansWithKids", class: "fa fa-facebook solo", target: "_blank" do %>
              <span>Facebook</span>
            <% end %>
          </li>

          <li>
            <%= link_to "https://plus.google.com/111594140093002939124?rel=author", class: "fa fa-google-plus solo", target: "_blank" do %>
              <span>Google+</span>
            <% end %>
          </li>

          <li>
            <%= link_to "https://github.com/gertig/humanswithkids.com", class: "fa fa-github solo", target: "_blank" do %>
              <span>GitHub</span>
            <% end %>
          </li>

          <!-- <li><a href="#" class="fa fa-twitter solo"><span>Twitter</span></a></li> -->
          <!-- <li><a href="#" class="fa fa-facebook solo"><span>Facebook</span></a></li> -->
          <!-- <li><a href="#" class="fa fa-google-plus solo"><span>Google+</span></a></li> -->
          <!-- <li><a href="#" class="fa fa-dribbble solo"><span>Dribbble</span></a></li> -->
          <!-- <li><a href="#" class="fa fa-github solo"><span>GitHub</span></a></li> -->
        </ul>
      </footer>
    </div>


<!--     <div id="social-buttons" class="social">
      <%= link_to "http://twitter.com/HumansWithKids" do %>
        <%= image_tag(asset_path("twitter42.png")) %>
      <% end %>
      
      <%= link_to "http://youtube.com/user/HumansWithKids" do %>
        <%= image_tag(asset_path("youtube42.png")) %>
      <% end %>
      
      <%= link_to "https://plus.google.com/111594140093002939124?rel=author" do %>
        <%= image_tag(asset_path("google-plus42.png")) %>
      <% end %>
    </div> -->
    
  </div> <!-- /container -->

</body>
</html>
