<!DOCTYPE html>
<%= opengraph_html('html5') %>
<!-- <html lang="en"> -->
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# object: http://ogp.me/ns/object#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <meta name="msvalidate.01" content="F944F9D72689C043BC830D8D73AD8940" />
    
  <%= title :site => "Andrew Gertig", :separator => '|', :reverse => true %>
  <%= keywords :default => "ruby on rails, sales, design, medical devices, running, arduino" %>
  <%= description :default => "My claim to fame is that I graduated from high school twice. This is my personal blog and lab for trying new things." %>
  
  <%# OPEN GRAPH %>
  <%= opengraph(:app_id => "#{FACEBOOK_APP_ID}") %>
  <meta property="fb:admins" content="511212544" />
  
  <%# TWITTER CARD %>
  <%= twitter_card %>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  
  <!-- // <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script> -->
  
  <!-- Javascripts
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <%= javascript_include_tag "application" %>
  
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.3/jquery.backstretch.min.js"></script>
  
  <link href='http://fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic|Poly|Alegreya:400,700' rel='stylesheet' type='text/css'>

  <!-- 
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Open Sans Condensed', sans-serif;
  -->
  
  <%= render "analytics" %>
  
  <%= cloudinary_js_config %>
  
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
</head>
<body>
  
  <%= render "facebook" %>

  <div class="container">
    
    <nav>
      <ul>
        <li><%= link_to "Archives", archives_path %></li>
        <li><%= link_to "Contact", "#", id: "email-me", title: "andrew.gertig at google's e-mail", data: { placement: "bottom", toggle: "tooltip" } %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Hire me", hire_me_path %></li>
        <li><%= link_to "RSS", feed_path %></li>
        <% if is_andrew? %>
          <li class="admin-link"><%= link_to "Dashboard", admin_path %></li>
          <li class="admin-link"><%= link_to "Logout", logout_path %></li>
        <% end %>
      </ul>
    </nav>
    
    <%= link_to root_url, id: "blog-title"  do %>
      Andrew Gertig
    <% end %>
    
    <%= yield %>
    
    <div id="social-buttons" class="social">
      <%= link_to "http://twitter.com/gertig" do %>
        <%= image_tag(asset_path("twitter42.png")) %>
      <% end %>
      
      <%= link_to "http://youtube.com/user/AndrewGertig" do %>
        <%= image_tag(asset_path("youtube42.png")) %>
      <% end %>
      
      <%= link_to "https://plus.google.com/111594140093002939124?rel=author" do %>
        <%= image_tag(asset_path("google-plus42.png")) %>
      <% end %>

    </div>
  </div> <!-- /container -->

</body>
</html>
