<!DOCTYPE html>
<%= opengraph_html('html5') %>
<!-- <html lang="en"> -->
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# object: http://ogp.me/ns/object#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="msvalidate.01" content="F944F9D72689C043BC830D8D73AD8940" />

  <%= title :site => "Humans With Kids", :separator => '-', :reverse => true %>
  <%= keywords :default => "family, kids, humans, legend, faith, Christ, Jesus, hope, parenting" %>
  <%= description :default => "Being a legend in your own home." %>

  <%# OPEN GRAPH %>
  <%= opengraph(:app_id => "#{FACEBOOK_APP_ID}") %>
  <meta property="fb:admins" content="511212544" />
  <!-- <meta property="fb:admins" content="511212544" /> -->

  <%# TWITTER CARD %>
  <%= twitter_card %>

  <%# RSS FEED AUTODISCOVERY - this matches Wordpress's RSS feed url structure %>
  <%= auto_discovery_link_tag :atom, "/feed/rss" %>
  <%= auto_discovery_link_tag :rss, "/feed/rss.rss" %>

  <%# SUMO ME
  <script src="//load.sumome.com/" data-sumo-site-id="6be8515f4f4845c9e68a658ce48c71e4a5f3efccac93ff05b34b281d4f06d3c0" async="async"></script>
  %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>

  <!-- // <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script> -->

  <!-- Javascripts
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <%= javascript_include_tag "application" %>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.3/jquery.backstretch.min.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic|Alegreya:400,700|Open+Sans:400italic,400,700|Audiowide|Viga' rel='stylesheet' type='text/css'>

  <link href='http://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic|Droid+Serif:400,700,400italic' rel='stylesheet' type='text/css'>

  <!--
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Open Sans Condensed', sans-serif;
  -->

  <%= render "analytics" %>

  <%#= cloudinary_js_config %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
</head>
<body>

  <%= render "analytics_tag_manager" %>

  <%= render "facebook" %>

  <%= render "flash_messages" %>

  <header>
    <%= render "navbar" %>
  </header>

  <%# HERO IMAGE %>
  <!-- <div class="row"> -->
  <% if params[:controller] == "home" && params[:action] == "about" %>
    <div class="hero-image-wrapper hidden-xs">
        <div id="hero-image" class="actual-image" style="background-image: url('https://humanswithkids-assets.s3.amazonaws.com/uploads/picture/image/7/large_IMG_4324.JPG');">

<!--           <div id="blurred-logo-wrapper" class="">
            <h1 class="hwk-logo">Humans With Kids</h1>
          </div> -->
        </div>

    </div>
  <% end %>

  <% if false && params[:controller] == "home" && params[:action] == "index" %>
    <div class="hero-mission-wrapper">
        <h1 class="hero-subhead">We make really cool stuff<br/>for parents who want to be a part<br/>of their child's story</h1>
    </div>
  <% end %>

  <div class="main-container">

    <div class="row">
      <%= yield %>
    </div>


  <% unless params[:controller] == "home" && params[:action] == "index" %>
    <div class="row">
      <footer class="ag-fa">
        <%= render "footer" %>
      </footer>
    </div>
  <% end %>

  </div> <!-- /container -->

  <%= render "mailchimp_modal" %>

</body>
</html>
